/* 

NB: Any CSS variable that is edited by JavaScript MUST be declared here, 
NOT in a page-specific style sheet. It will not be applied otherwise.

NB: In filter settings, keep hue-rotate settings between -180 and +180 degrees, 
e.g., if the value is 300deg, reset it to -60deg. 

#565656 has become #545454

*/
:root {
	--accent-color: #d2d2d2;
	--anchor-background-color-hover: #e4e4e4;
	--anchor-background-color: transparent;
	--anchor-underline-color-hover: #696969;
	--anchor-underline-color: #a9a9a9;
	--background-color-500ms-ease--border-bottom-color-500ms-ease--color-500ms-ease: none;
	--background-color-500ms-ease--border-bottom-color-500ms-ease: none;
	--black: #000;
	--body-background-color: #fafafa;
	--body-text-color: #545454;
	--cta-orange-light: #f4d589;
	--cta-orange-dark: #eeb935;
	--cta-orange-darker: #dfa415;
	--dark-gray: #444;
	--filter-anchor-underline-color-hover: invert(39%) sepia(6%) saturate(6%) hue-rotate(-46deg) brightness(101%) contrast(89%);
	--filter-anchor-underline-color: invert(77%) sepia(0%) saturate(1475%) hue-rotate(137deg) brightness(93%) contrast(75%);
	--filter-footer-anchor-hover: invert(81%) sepia(92%) saturate(446%) hue-rotate(-1deg) brightness(109%) contrast(90%);
	--filter-pure-white: invert(100%) sepia(4%) saturate(7500%) hue-rotate(152deg) brightness(111%) contrast(101%);
	--footer-anchor: #eeb935;
	--footer-background-color: #080808;

	--footer-opacity: 0;

/*	TEST: --footer-background-color: #303030; */

	--footer-text-color: #fff;
	--gallery-carousel-fixed-ancestor-height: 191px;
	--gallery-carousel-fixed-ancestor-opacity: 0;
	--gallery-carousel-list-margin-auto: inherit;
	--gallery-carousel-list-transition: none;
	--gallery-carousel-list-translate-x: none;
	--gallery-carousel-main-opacity: 0;
	--gallery-carousel-main-visibility: visible;
	--gallery-carousel-width: 75vw;
	--gallery-footer-social-icon-anchors-opacity: 0;
	--gallery-lv-iframe-height: auto;
	--gallery-lv-iframe-width: auto;
	--gallery-modal-overlay-left: initial;
	--gallery-modal-overlay-top: initial;
	--gallery-work-image-opacity: 0;
	--hamburger-label-color: #545454;
	--header-anchor-underline-color-hover: #a9a9a9;
	--header-anchor-underline-color: transparent;
	--header-drawer-opacity: 0;
/* header-nav-li-height should match initial header-height; it remains constant while header-height is revised by the JavaScript */
	--header-height: 60px;
	--header-nav-li-height: 60px;
	--image-background-matte-color: #efefef;

/*
see corresponding ipapi lookup settings in:
common.css
privacy-policy.css
privacyPolicy.mjs
privacy-policy/main.php
*/

	--ipapi-lookup-true-display: block;
	--ipapi-lookup-false-display: none;
	--ipapi-lookup-opacity: 0;

	--logo-for-mobile-menu-margin-right: 0;
/* This affects the opacity of both the main element and the footer: */
	--main-opacity: 0;
	--main-scrollbar-width: 0px;
	--medium-gray: #9f9f9f;
	--menu-background-color: #fafafa;
--menu-background-color-mobile: #fafafa;
	--menu-drop-down-list-background: #fafafa;
	--menu-drop-down-list-color: #505050;
	--menu-text-color: #545454;
	--menu-text-hover-background: #545454;
	--menu-text-hover-background-mobile: #545454;
/*	--number-up-menu-settings-height: 0; */
	--opacity-500ms-ease-in-out: none;
	--opacity-500ms-ease: none;
	--open-in-new-anchor-color-hover: #545454;
	--open-in-new-anchor-color: #959595;
	--red: #aa0000;
	--transform-500ms-ease: none;
	--transparent-mask-gray: #292929;
	--theme-body-background-color: #efefef;
	--gray-button-240: #f0f0f0; /* hsl(0, 0%, 94%) rgb(240, 240, 240) */
	--gray-button-225: #e1e1e1; /* hsl(0, 0%, 88%) rgb(225, 225, 225) */
	--gray-button-210: #d2d2d2; /* hsl(0, 0%, 82%) rgb(210, 210, 210) */
	--gray-button-195: #c3c3c3; /* hsl(0, 0%, 76%) rgb(195, 195, 195) */
	--gray-button-180: #b4b4b4; /* hsl(0, 0%, 71%) rgb(180, 180, 180) */

/*
Retired:
	--background-color-500ms-ease: none;
	--border-bottom-color-500ms-ease: none;
	--gallery-carousel-list-width: max-content;
	--filter-footer-anchor: invert(60%) sepia(96%) saturate(349%) hue-rotate(3deg) brightness(107%) contrast(87%);
*/
}

/* 
To set the focus ring; Canary 80 has a black color for the focus ring;
This reproduces the old style of the Chrome focus ring:
 */
/*
:focus {
	outline: var(--focus-ring-blue) auto 5px;
}
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*
OLD VERSION
SEE: https://webaim.org/techniques/css/invisiblecontent/
*/
/*
.mce-tinymce.mce-container.mce-panel .screen-reader,
.screen-reader,
.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
*/

/*
NEW VERSION
SEE:
https://github.com/h5bp/main.css/issues/12
https://gomakethings.com/revisting-aria-label-versus-a-visually-hidden-class/
*/
.mce-tinymce.mce-container.mce-panel .screen-reader,
.screen-reader,
.visually-hidden {
	border: 0;
	clip: rect(0,0,0,0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}


/*
NOT YET STANDARD:
.speak-none {
	speak: none;
}
*/

/* All devices */
html {
	accent-color: var(--accent-color);
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
/* 
writing-mode Needed for resizeObserver()
See: https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserverEntry/contentBoxSize
And: https://developer.mozilla.org/en-US/docs/Web/CSS/writing-mode
*/
/*
TMB: 2021-10-16
We're no longer using resizeObserver(), and the default value is horizontal-tb, anyway
*/
/*
	-webkit-writing-mode: horizontal-tb;
					writing-mode: horizontal-tb;
*/

/* The following is the same as: font: 400 1rem/1.5 'Cabin', sans-serif; */
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 1rem;
	line-height: 1.5;
	font-family: Cabin, sans-serif;
}

@supports (font-variant-caps: normal) {
	html {
		font-variant-caps: normal;
	}
}

@supports (font-variant-east-asian: normal) {
	html {
		font-variant-east-asian: normal;
	}
}

@supports (scroll-behavior: smooth) {
	html {
		scroll-behavior: smooth;
	}
}


/* Desktop */
@media all and (min-width: 760px) {

	html {
		overflow-y: visible;
	}

/** Style scrollbar on Chrome and Safari **/
	::-webkit-scrollbar {
		width: 12px;
		background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		border: 2px solid transparent;
/* The tovic minifier truncates #00000040 to #00040, invalidating the rule, so use rgba() */
		background: rgba(0,0,0,.25);
	}
	::-webkit-scrollbar-track {
		border-radius: 10px;
		transition: background-color;
	}

/* OLD...stopped working after creation of theme galleries, reason unknown. */
/*
	::-webkit-scrollbar {
		width: var(--main-scrollbar-width);
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--header-anchor-underline-color-hover);
		border-radius: 12px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #909090;
	}
*/

}

/*
body {
	margin: 0;
}
*/

h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight: 700;
}

/* This is the standard styling for H1 across the site, except on the home page: */
/* NB: To trump the user agent style sheet rules for fonts on h1, the rules must be applied singly, not with the composite 'font' rule */
h1 {
	font-size: 1.5rem;
	font-style: italic;

	letter-spacing: .15rem;
	margin-bottom: .5rem;
	text-align: center;
	text-shadow: 0 0 1px #fff, 0 0 0 #adadad, 1px 1px 0 #adadad, 1px 1px 1px #adadad;
	word-spacing: .15rem;
}

h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: .75rem;
}

/* For H1 subtitles, put them in a SPAN within the H1 element; display: block will cause a line break */
h1 span {
	display: block;
}

iframe {
	border: none;
}

/* For admin forms */
input[readonly] {
	background-color: #e3e3e3;
}

/************************************************************************************ 
*** 2020-10-04: 
*** Lighthouse audit requires pixel height and width on IMG element
*** Aspect ratio box CSS will only work if IMG CSS has 
*** 
*** height: 100%;
*** width: 100%;
*** 
*** ...which is set below for all IMG elements as a default.
*************************************************************************************/
img { 
/* To style ALT text in IMG elements, which briefly flashes in a large blue font in Firefox */
	color: var(--body-text-color);
/* 2020-10-04: Necessary for aspect ratio to work when using pixel width and height on IMG element: */
	height: auto;
	width: auto;
}

/* 
2020-11-07: Chrome Canary sets this in the UA sheet, so let's unset it for now, since we're doing aspect-ratio with CSS 
2021-02-06: Now that we're using aspect-ratio, let's restore it to the UA sheet:
	aspect-ratio: unset;
*/

/* 
Used in Footer copyright notice. 
SEE: https://stackoverflow.com/questions/5392853/html-css-denoting-a-preferred-place-for-a-line-break#10104013
*/
span.avoid-wrap { 
	display: inline-block;
}

/*
IE11 warning: :visited and :link styles can only differ by color. Some styles were not applied to :visited.
Research:

On :visited elements, only style color; see: https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector

The CSS properties that can be used to style visited links are:
color,
background-color,
border-*-color,
column-rule-color,
outline-color,
and the color parts of the fill and stroke properties.
In addition, for the list of properties you can change above, you won’t be able to set rgba() or hsla() colors or transparent on them.

Canonical ordering of link pseudo-classes:

NB: focus-within causes IE & EDGE to fail for the style block if it appears in one of the comma-separated lists:
:link
:visited
:hover
:focus
:focus-within
:active
*/

/* FOR TESTING: The presence of a background-color will indicate that a pseudo-class state has not been accounted for */
/*

a:link {
	background-color: red;
	color: black;
	cursor: pointer;
	text-decoration: none;
}
a:visited {
	background-color: orange;
}
a:hover {
	background-color: yellow;
}
a:focus {
	background-color: green;
}
a:focus-within {
	background-color: blue;
}
a:active {
	background-color: purple;
}

If IE < 11 is needed, then state each font rule like this:

.body .h1 {
	font: 700 32px/1.5 'Cabin', sans-serif;
	font: 700 2rem/1.5 'Cabin', sans-serif;
	display: block;
}

...where the px equivalent of the rem is stated first, as rems were not supported in IE before 11.

*/


/*

All siblings of the loading mask have 0 opacity until the spinner is removed.

On the home page, this is matched by:

.home.custom-style-elements {
	opacity: var(--custom-style-elements-opacity);
}

...and likewise on the about, news, gallery, contact, and privacy-policy pages.

*/

/*
.loading-mask ~ * {
	opacity: var(--custom-style-elements-opacity);
}
*/

/*** SAVE THESE ***/

/*
.body .h1 {
	font-size: 2rem;
	font-weight: 700;
}
.body .h2 {
	font-size: 1.75rem;
	font-weight: 700;
}
.body .h3 {
	font-size: 1.5rem;
	font-weight: 700;
}
.body .h4 {
	font-size: 1.25rem;
	font-weight: 700;
}
.body .h5 {
	font-size: 1rem;
	font-weight: 700;
}
.body .h6 {
	font-size: .75rem;
	font-weight: 700;
}

.body .h1-italic {
	font-style: italic;
	font-size: 2rem;
	font-weight: 700;
}
.body .h2-italic {
	font-style: italic;
	font-size: 1.75rem;
	font-weight: 700;
}
.body .h3-italic {
	font-style: italic;
	font-size: 1.5rem;
	font-weight: 700;
}
.body .h4-italic {
	font-style: italic;
	font-size: 1.25rem;
	font-weight: 700;
}
.body .h5-italic {
	font-style: italic;
	font-size: 1rem;
	font-weight: 700;
}
.body .h6-italic {
	font-style: italic;
	font-size: .75rem;
	font-weight: 700;
}
*/

/*** Self-describing styles ***/

/* 
To center a div inside a div:
-- put text-align: center on outer div
-- put display: inline-block on inner div
*/
.text-align-center {
	text-align: center;
}

.text-decoration-underline {
	text-decoration: underline;
}

.centered-image {
	max-width:100%;
	max-height:100%;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.roman {
	font-style: normal;
	font-weight: 400;
}

.italic {
	font-style: italic;
	font-weight: 400;
}

.bold {
	font-style: normal;
	font-weight: 700;
}

.bold-italic {
	font-style: italic;
	font-weight: 700;
}

.margin-half-em {
	margin: .5em;
}
.margin-top-half-em {
	margin-top: .5em;
}
.margin-top-quarter-em {
	margin-top: .25em;
}
.margin-bottom-half-em {
	margin-bottom: .5em;
}
.margin-bottom-quarter-em {
	margin-bottom: .25em;
}

.margin-1em {
	margin: 1em;
}
.margin-top-1em {
	margin-top: 1em;
}
.margin-bottom-1em {
	margin-bottom: 1em;
}

.margin-2em {
	margin: 2em;
}
.margin-top-2em {
	margin-top: 2em;
}
.margin-bottom-2em {
	margin-bottom: 2em;
}


.overflow-hidden {
	overflow: hidden;
}


.padding-half-em {
	padding: .5em;
}
.padding-top-half-em {
	padding-top: .5em;
}
.padding-bottom-half-em {
	padding-bottom: .5em;
}

.padding-1em {
	padding: 1em;
}
.padding-top-1em {
	padding-top: 1em;
}
.padding-bottom-1em {
	padding-bottom: 1em;
}

.padding-2em {
	padding: 2em;
}
.padding-top-2em {
	padding-top: 2em;
}
.padding-bottom-2em {
	padding-bottom: 2em;
}

.visibility-hidden {
	visibility: hidden;
}
.visibility-visible {
	visibility: visible;
}

.hidden-and-no-pointer-events {
	visibility: hidden;
	pointer-events: none;
}

.color-red {
	color: var(--red);
}

.font-size-1rem {
	font-size: 1rem;
}

.font-size-125rem {
	font-size: 1.25rem;
}

.font-size-15rem {
	font-size: 1.5rem;
}

.font-style-italic {
	font-style: italic;
}

.font-weight-bold {
	font-weight: bold;
}


/* Mobile */
/* To 759px (next query overtakes 760px): */
@media all and (max-width: 760px) {
	.desktop-display-only {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}

/* Desktop */
/* From 760px: */
@media all and (min-width: 760px) {

/* Cancel desktop styling from previous block, for 760px overlap): */
	.desktop-display-only {
		position: unset;
		left: unset;
		top: unset;
		width: unset;
		height: unset;
		overflow: unset;
	}

	.mobile-display-only {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}

}


:focus-visible {
	outline: 3px solid var(--anchor-underline-color);
	outline-style: auto;
	z-index: 100;
}

/* 
Filter for Firefox; needed, as outline-style: auto, which creates rounded
corners in Chrome, makes the outline blue in Firefox...ugh!
NB: A replacement for this might be: @supports (-moz-appearance:none) { }
*/
@-moz-document url-prefix() { 
	:focus-visible {
		outline: 3px solid var(--anchor-underline-color);
		z-index: 100;
	}
}

/* 
fadeInFromNone is used in: 

page-gallery.css
switcher.css 
*/
/*
@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: inline-block;
		opacity: 0;
	}

	100% {
		display: inline-block;
		opacity: 1;
	}
}
*/

@media screen and (max-width: 464px) {
	br.larger-screens {
		display: none; 
	}
	br.smaller-screens {
		display: inline; 
	}
	.larger-screens-display-none {
		display: initial;
	}
}

@media screen and (min-width: 464px) {
	br.larger-screens {
		display: inline; 
	}
	br.smaller-screens {
		display: none; 
	}
	.larger-screens-display-none {
		display: none;
	}
}



/* This animation is employed on all images in MAIN via rule in body.css */

@keyframes commonImageFadeIn {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: inline-block;
		opacity: 0;
	}

	100% {
		display: inline-block;
		opacity: 1;
	}
}
