/* SEE: http://androidcss.com/demos/css/css-drawer-menu/ */

.header .visibility-hidden {
	visibility: hidden;
}
.header .visibility-visible {
	visibility: visible;
}

/*
Use .nav as parent selector for stylings applying both to primary ul and secondary ul li
	.header .nav li

Use .primary-ul as parent selector for stylings applying only to primary ul li 
	.header .primary-ul li

Use .secondary-ul as parent selector for stylings applying only to secondary ul li 
	.header .secondary-ul li
*/

/*
START MOBILE+DESKTOP:
@media all and (min-width: 0px) {
*/

/*************************************
*** @media:MOBILE+DESKTOP ************
**************************************
*** Focus ring for accessibility *****
**************************************
*** .show-focus-outlines class is ****
*** added to BODY using JavaScript ***
**************************************/

/*
NB: --focus-ring-blue: #9ecaed;
.show-focus-outlines .header .internal-anchor:focus,
.show-focus-outlines .header #nav-list-home-link a:focus,
.show-focus-outlines .header .skip-to-main-content:focus {
	outline: 2px solid var(--focus-ring-blue);
}
*/

/****************************
*** @media:MOBILE+DESKTOP ***
*** main header styles ******
*****************************/

/* Header color, make it stick to the top */
.header {
	background-color: var(--menu-background-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	z-index: 9999;
	display: flex;
	align-items: center;
}

/*******************************************
*** @media:MOBILE+DESKTOP ******************
*** Animated line along bottom of header ***
*** during email submission, etc. **********
********************************************/


/*
SHORTHAND: 
	animation: name duration timing-function delay iteration-count direction fill-mode play-state;
	animation: loading 1.5s linear 0s infinite normal none running;
	animation-name: loading;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
*/

.header.draw::after {

	animation: loading 1.5s linear 0s infinite normal none running;
/*
	animation-name: loading;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
*/
	background-color: var(--body-text-color);
	bottom: -4px;
	content: "";
	height: 4px;
	left: -5%;
	position: absolute;
	width: 0;
	will-change: animation;
}


/**************************************************
*** @media:MOBILE+DESKTOP *************************
*** To expedite lazyloading the fonts *************
*** (the JavaScript routine is still necessary) ***
***************************************************/

/*
Reason unknown, this was remmed out but the others were not, 2021-12-13:
*/
.header .load-roman {
	font-style: normal;
}
.header .load-italic {
	font-style: italic;
}
.header .load-bold {
	font-weight: 700;
}
.header .load-bold-italic {
	font-style: italic;
	font-weight: 700;
}


/*
// Retired 2021-02-13
// SAVE in case needed in future:
.header .load-material-icons {
	font-family: 'Material Icons';
}
*/

/**********************************************
*** @media:MOBILE+DESKTOP *********************
*** Skip to Main Content accessibility link ***
***********************************************/


.header .hash-anchor.skip-to-main-content {
	border: 0;
	background-color: var(--body-background-color);
	clip-path: inset(50%);
	color: var(--black);
	display: block;
	font-weight: 700;
	height: 1px;
	left: 16px;
	margin: -1px;
	outline: 2px solid var(--anchor-underline-color);
	overflow: hidden;
	padding: 16px;
	position: absolute;
	text-decoration: underline;
	top: -16px;
	z-index: 999;
}


/*
'clip' is deprecated; 'clip-path' is its heir, but not supported on IE or iOS.
 So, state 'clip-path' first, then provide 'clip' as a fall-back:
*/

.header .hash-anchor.skip-to-main-content:focus {
	clip-path: none;
	height: auto;
	transform: translate(48px, 48px);
	transition: transform 200ms ease-in-out;
}

/********************************
*** @media:MOBILE+DESKTOP *******
*** Hambuger <INPUT> checkbox ***
*********************************/

/* Do not display the input checkbox */
.header #hamburger {
	display: none;
}

/********************************************************
*** @media:MOBILE+DESKTOP --- #side-switcher checkbox ***
*** This displays on both mobile and desktop normally ***
*********************************************************/

/* qwer */
.header .nav [id^="side-switcher"] {
	display: none;
}

/* 

2021-10-17:
Moved to common-admin-stylings.css:

.header .nav li.authenticated {
	background-color: pink;
}

.header .nav li.authenticated a:link {
	background-color: pink;
	color: #3d3d3d;
}

*/

/**************************************************************
*** @media:MOBILE+DESKTOP *************************************
*** Stylings needed for accessible tabbing ********************
*** :focus-within indicates when a child element has focus, ***
*** needed here when the user is tabbing through the menu. ****
***************************************************************/

/** 2021-12-09 **/
/** 24px is the vertical offset of the UL from the top of the header, so subtract it twice (48px) from the viewport height, and subtract an additional 1.5rem to account for the padding-bottom on LI entries on list: **/
.header .nav li > ul {
	overflow-y: auto;
	max-height: calc(100vh - 48px - 1.5rem);
}

/** Perhaps necessary on Safari: **/
/*
.header .nav li > ul::-webkit-scrollbar {
	-webkit-appearance: scrollbartrack-vertical;
}
*/

.header .nav li:focus-within > ul,
.header .nav li:hover > ul {
	opacity: 1;
	pointer-events: all;
}

/**********************************************************
*** @media:MOBILE+DESKTOP *********************************
*** Set width of primary and secondary UL to same value ***
***********************************************************/

.header .nav ul {
	list-style: none;
	min-width: 66%;
}

/****************************************************
*** @media:MOBILE+DESKTOP ***************************
*** Change cursro to poiner when hovering over LI ***
*****************************************************/

.header .nav li:hover {
	cursor: pointer;
}

/******************************************************
*** @media:MOBILE+DESKTOP *****************************
*** cancel default underlines and outlines ************
*** on anchors and spans that function like anchors ***
*******************************************************/

.header .nav a,
.header .nav span {
	text-decoration: none;
	outline: none;
}

/*********************************************
*** @media:MOBILE+DESKTOP ********************
*** Anchors in active state EXCEPT ripples ***
**********************************************/

.header li:not(.ripple) a:active { 
	box-shadow: 0 0 36px var(--black), inset 0 0 72px var(--dark-gray);
	border-radius: 10px 10px 10px 10px;
	outline: 0;
}

/*
END: MOBILE+DESKTOP
}
*/

/*********************
**** @media:MOBILE ***
**********************/

/*
This ideally would be max-width: 760px, but there's styling in it intended 
only for the mobile mode that's being applied to desktop display, and I can't 
(2021-12-10) find it, so 759px will have to do. 
*/

@media all and (max-width: 759.98px) {

/************************************************************
** @media:MOBILE -- sliding drawer UL/LI issue             **
** Needed on both primary and secondary ULs in mobile mode **
** in case the ULs are not the same length, in which case  **
** LIs of the longer UL will appear after the LIs of the   **
** shorter UL.                                             **
************************************************************/

	.header .nav ul {
/* qwer */
		background: var(--menu-background-color);
		padding-bottom: calc(100vh - 100%);
	}

/***************************************
*** @media:MOBILE --- sliding drawer ***
****************************************/

/* Needed for sliding drawer to work */
	.header::before,
	.header::after {
		clear: both;
		content: " ";
		display: block;
	}

/* qwer */
/* The "back" side of the drawer: */
	.header .secondary-ul {
		margin-top: 1rem;
		position: absolute;
		z-index: 1;
		background-color: var(--menu-drop-down-list-background);
		color: var(--menu-drop-down-list-color);
		top: -15px;
	}

/* qwer */
/* 300 specificity needed to override other rules */
	.header .nav .secondary-ul {
		padding-bottom: calc(100vh - 60px - 100%);
	}

/*****************************************
*** @media:MOBILE --- transparent mask ***
******************************************/

	.header #hamburger:checked ~ .transparent-mask {
		display: block;
	}

	.header #hamburger:not(:checked) ~ .transparent-mask {
		display: none;
	}

	.header .transparent-mask {
		background: var(--transparent-mask-gray);
		cursor: pointer;
		height: 100vh;
		opacity: .375;
		position: fixed;
		top: var(--header-height);
		width: 100%;
		will-change: opacity;
	}

/*************************************************
*** @media:MOBILE ********************************
*** drawer display based on hamburger checkbox ***
**************************************************/

/* Possibly below use:		transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1); */

	.header .nav {
		background-color: var(--body-background-color);
		box-shadow: 2px 4px 12px rgba(0,0,0,.40);
		height: 100%;
		left: -280px;
		position: fixed;
		top: var(--header-nav-li-height);
		width: 200px;
		z-index: 100;
	}

/* qwer */
/*** 2022-09-20 ***/
	.header #hamburger ~ .nav {
		transition: var(--transform-500ms-ease);
/* 
Delay is needed to provide time to the appendToCSS() rule in the JS
(commonRoutinesOnFirstLoadOnly) to be rendered:
*/
		transition-delay: 100ms;
		overflow-y: auto;
	}

	.header #hamburger:checked ~ .nav {
		transform: translateX(280px);
	}


/* qwer */
/* 
The checked state is being detected and acted on in the corresponding JS
(commonRoutinesOnFirstLoadOnly), so there's no need for 2 rules here:
*/
/*
	.header #hamburger ~ .nav .secondary-ul {
		position: absolute;
	}
	.header #hamburger:checked ~ .nav .secondary-ul {
		position: fixed;
	}
*/

	:root {
		--secondary-ul-position: absolute;
	}

	.header #hamburger ~ .nav .secondary-ul {
		position: var(--secondary-ul-position);
	}

/*******************************************************
*** @media:MOBILE **************************************
*** drawer side switcher via #side-switcher checkbox ***
********************************************************/

/*
primary-ul: visible
secondary-ul: invisible
No transition delay here! It would reveal the secondary
UL being pushed down to its hidden location.
*/

/* qwer */
	.header .nav [id^="side-switcher"] ~ ul {
		opacity: 0;
		pointer-events: none;
		z-index: -1;
	}

/* 

TMB: 2021-10-16

See: https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events

pointer-events: visiblePainted;

...is the same as:

pointer-events: auto;

...but doesn't upset the w3 CSS validator:

*/

/*
primary-ul: invisible
secondary-ul: visible
Transition delay here!
*/

/* qwer */
	.header .nav [id^="side-switcher"]:checked ~ ul {
		opacity: 1;
		transform: translateX(0);
		left: 0;
		top: -15px;
		transition: var(--opacity-500ms-ease-in-out);
		pointer-events: visiblePainted;
		z-index: 999;
		padding-bottom: 100%;
	}

/****************************************
*** @media:MOBILE ***********************
*** Hamburger button on mobile header ***
*****************************************/

	.header label[for=hamburger] {
		display: block;
		padding: 18px;
		color: var(--menu-text-hover-background);
		line-height: 0;
	}


/*
2021-09-13
Add text "Menu" to right of hamburger icon.
This improves user engagement.
*/
	.header label[for=hamburger]::after {
		content: "Menu";
		font-weight: 700;
		vertical-align: super;
		padding-left: 10px;
	}

/* 
* Avoid non-composited transitions! Transitioning on opacity is allowed!
* See: https://developers.google.com/web/fundamentals/performance/rendering/stick-to-compositor-only-properties-and-manage-layer-count
*/
	.header label[for=hamburger] span::after {
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 100%;
		content: "";
		height: 36px;
		left: 12px;
		opacity: 0;
		position: absolute;
		top: 12px;
		transition: opacity 500ms ease;
		width: 36px;
	}

	.header label[for=hamburger] span:hover::after {
		cursor: pointer;
		opacity: 1;
	}

/*****************************************************
*** @media:MOBILE ************************************
*** Display site image logo on far right of header ***
******************************************************/

	.header .logo-for-mobile-menu {
		display: inline-block;
		line-height: 0;
		position: absolute;
		top: 12px;
		right: 12px;
		margin-right: var(--logo-for-mobile-menu-margin-right);
	}

/*******************************************************
*** @media:MOBILE **************************************
*** Main Menu link on reverse side of sliding drawer ***
********************************************************/

	.header .secondary-ul .return-to-main-menu {
		display: flex;
	}

/********************************************
*** @media:MOBILE ***************************
*** Hide desktop-display home ***************
*** image logo link during mobile display ***
*********************************************/

	.header .primary-ul .home-image-link {
		display: none;
	}

/***************************************************
*** @media:MOBILE **********************************
*** Display home text link during mobile display ***
****************************************************/

	.header .primary-ul .home-text-link {
		display: flex;
	}

/*************************************************************************
*** @media:MOBILE ********************************************************
*** Basic NAV LI settings ************************************************
**************************************************************************/

/* 
* Avoid non-composited transitions! Transitioning on opacity is allowed!
* See: https://developers.google.com/web/fundamentals/performance/rendering/stick-to-compositor-only-properties-and-manage-layer-count
*/

/********************************************************************
* Step 1: style li, a, span + .selected versions ********************
* The two spans are "Additional Pages" [normal] and "Main Menu" [ripple] *
* Everything else is an anchor: *************************************
* NB: Ripple buttons rely on this styling in part *******************
********************************************************************/

	.header .nav li {
		height: 100%;
		list-style: none;
		position: relative;
	}

	.header .nav li a,
	.header .nav li span {
/* 2021-12-1: */
/* OLD:		background-color: transparent; */
		background-color: var(--menu-background-color);
		border-top-color: var(--dark-gray);
		border-top-style: solid;
		border-top-width: 1px;
		color: var(--dark-gray);
		display: block;
		padding: 16px 32px 16px 32px;
		width: 200px;
	}

	.header .nav .secondary-ul li:first-child span {
		border-top: none;
	}

	.header .nav li a:hover,
	.header .nav li span:hover {
/* qwer */
/* OLD 2022-09-19:		background-color: transparent; */
		background-color: var(--menu-text-hover-background);
		color: var(--menu-background-color);
	}

	.header .nav li a.selected,
	.header .nav li span.selected {
		background-color: var(--menu-text-hover-background);
		color: var(--menu-background-color);
	}

/********************************************************
* Step 2: ***********************************************
* Exclude .selected anchors/spans so that hovering over *
* them does not create a transition/flicker: ************
********************************************************/

	.header .nav li:not(.ripple) a:not(.selected)::before,
	.header .nav li:not(.ripple) span:not(.selected)::before {
		background-color: var(--menu-text-hover-background);
		color: var(--menu-background-color);
		content: '';
		left: 0;
		opacity: 0;
		padding: 28px 32px 29px 32px;
		position: absolute;
		top: 0;
		transition: opacity 500ms ease;
		width: 68%;
	}

	.header .nav li:not(.ripple) a:not(.selected):hover::before,
	.header .nav li:not(.ripple) span:not(.selected):hover::before {
		opacity: 1;
		z-index: -1;
	}

/********************************************************
* Step 3: ***********************************************
* Prevent switcher spans from displaying after clicking *
* after clicking it and transitioning to the other side *
*********************************************************/

	.header .nav li:not(.ripple) div[data-for="side-switcher"] span:not(.selected):hover::before {
		color: var(--menu-background-color);
/*		opacity: var(--primary-ul-opacity); */
	}

/*************************************************
* Step 4: ****************************************
* Style Caret / Triangle following "Additional Pages" *
*************************************************/

	.header .nav li:not(.ripple) span.switch-to-secondary-ul:not(.selected):hover::after {
		color: var(--menu-background-color);
/* qwer */
/*
		left: 144px;
		position: absolute;
		top: 21px;
		z-index: -1;
*/
	}

/*********************************************************
*** @media:MOBILE ****************************************
*** Without these stylings, the last list item on both ***
*** sides of the draw will not have a bottom border ******
**********************************************************/

	.header .nav li:last-child a,
	.header .nav li:last-child a:hover,
	.header .nav li:last-child a:focus,
	.header .nav li:last-child a:hover,
	.header .nav li:last-child a:active,
	.header .nav li:last-child a.selected {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: var(--dark-gray);
	}

/* 2021-10-10 */
/* For security reasons, only border-color may be styled for :visited */
	.header .nav li:last-child a:visited {
		border-bottom-color: var(--dark-gray);
	}

/*******************************************************************************************
*** @media:MOBILE **************************************************************************
*** Ensures that gallery side of drawer is as wide as the longest text item. ***************
*** NB: We're not doing this on front side of drawer so "Contact & Commission" will wrap ***
********************************************************************************************/

	.header .secondary-ul li,
	.header .secondary-ul span,
	.header .secondary-ul label {
		width: 100%;
		white-space: nowrap;
	}

/******************************************************
*** @media:MOBILE *************************************
*** Style certain drawer LIs as Ripple buttons ********
*** Contact link on front side of slide drawer ********
*** Main Menu link on opposite side of slide drawer ***
*******************************************************/

	.header .primary-ul li.ripple a,
	.header .secondary-ul li.ripple span {
		background: linear-gradient(var(--cta-orange-light), var(--cta-orange-dark));
		color: black;
		cursor: pointer;
		letter-spacing: 2px;
		overflow: hidden;
		position: relative;
		text-shadow: 0 1px 0 #ffe093;
	}

	.header .primary-ul li.ripple a::after,
	.header .secondary-ul li.ripple span::after {
		background-image: radial-gradient(circle, #696969 10%, transparent 10.01%);
		background-position: 50%;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		opacity: .2;
		pointer-events: none;
		position: absolute;
		top: 0;
		transform: scale(0, 0);
		width: 100%;
	}

	.header .primary-ul li.ripple a:hover,
	.header .secondary-ul li.ripple span:hover {
		background-color: var(--cta-orange-dark);
		opacity: 1;
	}

	.header .primary-ul li.ripple a:hover::after,
	.header .secondary-ul li.ripple span:hover::after {
		opacity: 0;
		transform: scale(10, 10);
		transition: transform 750ms, opacity 1s;
	}

	.header .primary-ul li.ripple a:active,
	.header .secondary-ul li.ripple span:active {
		background: linear-gradient(var(--cta-orange-dark), var(--cta-orange-darker));
	}


	.header .primary-ul li.ripple a.selected.bold-on-selected,
	.header .secondary-ul li.ripple span.selected.bold-on-selected {
		font-weight: bold;
	}

/****************************************************************
*** @media:MOBILE ***********************************************
*** This creates the visible top border on BOTH the front and ***
*** back sides of the drawer (reason unknown), which is *********
*** necessary so that there's a border above the top link on ****
*** the secondary UL on the drawer ******************************
*****************************************************************/

	.header .primary-ul li:first-child > a:not(.selected) {
		border-top-color: var(--dark-gray);
		border-top-style: solid;
		border-top-width: 1px;
	}


/*****************************************************************
*** @media:MOBILE ************************************************
*** Caret/triangle to right of "Additional Pages" on mobile display ***
******************************************************************/

	.header .nav span.switch-to-secondary-ul::after {
		color: var(--anchor-underline-color);
		border-bottom: 6px solid transparent;
		border-left: 10px solid currentColor;
		border-top: 6px solid transparent;
		content: " ";
		display: inline-block;
/*		margin-right: .7rem; */
		transform: rotate(0) translateY(1px) translateX(8px);
	}

	.header .nav span.switch-to-secondary-ul.selected::after {
		color: var(--menu-background-color);
	}

/**********************************************
*** @media:MOBILE *****************************
*** Make secondary UL fade in with opacity: ***
***********************************************/

	.header .primary-ul a ~ .secondary-ul,
	.header .primary-ul span ~ .secondary-ul {
		display: inline-block;
		opacity: 1;
		pointer-events: all;
		top: -66px;
		transition: opacity 500ms ease-in-out;
	}

	.header .primary-ul a:hover ~ .secondary-ul,
	.header .primary-ul a ~ .secondary-ul:hover,
	.header .primary-ul span:hover ~ .secondary-ul,
	.header .primary-ul span ~ .secondary-ul:hover {
		opacity: 0;
		pointer-events: none;
	}


/**********************************
*** @media:MOBILE *****************
*** LI stylings on secondary UL ***
***********************************/

	.header .secondary-ul li:first-child {
		display: block;
		padding-top: 0;
	}

	.header .secondary-ul li,
	.header .secondary-ul li ~ li {
		min-width: 200px;
	}

}

/**********************
**** @media:DESKTOP ***
***********************/

@media all and (min-width: 760px) {

/*****************************************
*** @media:DESKTOP ***********************
*** Prevent layout shift of menu items ***
*****************************************/

	.header li[data-href="home"],
	.header li[data-href="home"] a {
		width: 115px;
		height: 35px;
	}

	.header li[data-span="Additional Pages"],
	.header li[data-span="Additional Pages"] input {
		width: 121px;
	}

	.header li[data-href="Dummy 1"],
	.header li[data-href="Dummy 1"] a {
		width: 69px;
	}

	.header li[data-href="Dummy 2"],
	.header li[data-href="Dummy 2"] a {
		width: 69px;
	}

	.header li[data-href="Dummy 3"],
	.header li[data-href="Dummy 3"] a {
		width: 69px;
	}

	.header li[data-href="Dummy 4"],
	.header li[data-href="Dummy 4"] a {
		width: 69px;
	}

	.header li[data-href="Dummy 5"],
	.header li[data-href="Dummy 5"] a {
		width: 69px;
	}

	.header li[data-href="Does Not Exist"],
	.header li[data-href="Does Not Exist"] a {
		width: 106px;
	}

/*
	.header li[data-href="contact"],
	.header li[data-href="contact"] a {
		width: 128px;
	}
*/

/*************************************
*** @media:DESKTOP *******************
*** No hambuger on desktop display ***
**************************************/

	.header label[for=hamburger] {
		display: none;
	}

/*******************************************
*** @media:DESKTOP *************************
*** hide site logo that appears on *********
*** right side of menu in mobile display ***
********************************************/

	.header .logo-for-mobile-menu {
		display: none;
	}

/*************************************************************
*** @media:DESKTOP *******************************************
*** "Home" image link is only displayed on desktop display ***
**************************************************************/

	.header .nav .home-image-link {
		display: flex;
		line-height: 0;
	}

/* 
2020-11-04: Needed so home image link displays
Overrides width: 100%, height: 100% in common.css
*/
	.header .home-image-link img {
		width: initial;
		height: initial;
	}

/***************************************************
*** @media:DESKTOP *********************************
*** "Home" text link is only displayed on drawer ***
****************************************************/

	.header .nav .home-text-link {
		display: none;
	}

/********************************************
*** @media:DESKTOP **************************
*** Primary and secondary UL Anchors ********
*** except home image link (:first-child) ***
*** and ripple buttons (.ripple) ************
*********************************************/

/* 
Avoid non-composited transitions! Transitioning on opacity is allowed!
See: https://developers.google.com/web/fundamentals/performance/rendering/stick-to-compositor-only-properties-and-manage-layer-count
*/

	.header .nav li:not(:first-child):not(.ripple) > a {
		background-color: var(--menu-drop-down-list-background);
		color: var(--menu-text-color);
		position: relative;
	}

/* Needed on drop-down gallery list or else text link will shift up on hover */
	.header .nav ul.secondary-ul li > a { 
		border-bottom-color: transparent;
		border-bottom-style: solid;
		border-bottom-width: 3px;
	}

	.header .nav li:not(:first-child):not(.ripple) > a::before { 
		border-bottom-color: var(--header-anchor-underline-color-hover);
		border-bottom-style: solid;
		border-bottom-width: 3px;
		bottom: -3px;
		content: '';
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity 500ms ease;
	}

	.header .nav li:not(:first-child):not(.ripple) > a:hover::before,
	.header .nav li:not(:first-child):not(.ripple) > a.selected::before {
		opacity: 1;
	}

/*******************************************************
*** @media:DESKTOP *************************************
*** Main Menu link on reverse side of sliding drawer ***
*** Don't display in desktop mode **********************
********************************************************/

	.header .nav .return-to-main-menu {
		display: none;
	}

/********************************************
*** @media:DESKTOP **************************
*** Don't display caret/triangle to right ***
*** of "Additional Pages" on desktop display *****
*********************************************/

	.header .nav span.switch-to-secondary-ul::after {
		display: none;
	}

/**************************************************************
*** @media:DESKTOP ********************************************
*** Ripple button on desktop menu ONLY ************************
*** [Mobile display ripple buttons are styled differently.] ***
***************************************************************/

	.header .nav li.ripple > a { 
		background: linear-gradient(var(--cta-orange-light), var(--cta-orange-dark));
		border-color: #a88734 #9c7e31 #846a29;
		border-radius: 5px;
		border-width: 0;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.52); /* #00000084; */
		color: black;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: auto;
		letter-spacing: 2px;
		overflow: hidden;
/* 
Number Up requirement: 6px 15px 
Old: 6px 30px
*/
		padding: 6px 15px;
		position: relative;
		text-align: center;
		text-shadow: 0 1px 0 #ffe093;
		width: auto;
	}

	.header .nav li.ripple > a::after {
		background-image: radial-gradient(circle, #696969 10%, transparent 10.01%);
		background-position: 50%;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		opacity: .2;
		pointer-events: none;
		position: absolute;
		top: 0;
		transform: scale(0, 0);
		width: 100%;
	}

	.header .nav li.ripple > a:hover {
		opacity: 1;
	}

	.header .nav li.ripple > a:hover::after { 
		opacity: 0;
		transform: scale(10, 10);
		transition: transform 750ms, opacity 1s;
	}

	.header .nav li.ripple > a:active {
		background: linear-gradient(var(--cta-orange-dark), var(--cta-orange-darker));
		transform: translateY(1.5px);
	}

/*****************************************
*** @media:DESKTOP ***********************
*** Primary navigation list items ONLY ***
******************************************/

	.header .primary-ul > li {
		background-color: var(--menu-background-color);
		float: left;
		display: flex;
		height: var(--header-nav-li-height);
/* Number Up Requirement: */
/*
		margin-right: 1rem;
		margin-left: 1rem;
*/
		margin-right: .75em;
		margin-left: 1em;
		position: relative;
		align-items: center;
		justify-content: center;
	}

/************************************************************************
*** @media:DESKTOP ******************************************************
*** Secondary UL (gallery list) and its LI items ************************
*************************************************************************
*** NB: We need to use var(--opacity-500ms-ease-in-out) here instead ****
*** of writing it out to avoid a brief flash of the drop-down gallery ***
*** menu when the page loads. JavaScript switches it from 'none' to *****
*** the named value. ****************************************************
************************************************************************/

	.header .secondary-ul {
		background-color: var(--menu-drop-down-list-background);
		box-shadow: 0 0 30px var(--anchor-underline-color-hover);
		color: var(--menu-drop-down-list-color);
		display: block;
		left: 0;
		margin-top: 1rem;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 24px;
		transition: var(--opacity-500ms-ease-in-out);
		z-index: 1;
	}

	.header .secondary-ul li {
		align-items: center;
		background-color: var(--menu-drop-down-list-background);
		color: var(--menu-drop-down-list-color);
		display: flex;
		float: left;
		justify-content: left;
		position: relative;
		white-space: nowrap;
		width: 100%;
	}

	.header .secondary-ul li ~ li {
		height: 0;
		min-width: 100%;
		padding: 1rem;
	}

	.header .secondary-ul li > a:hover {
		border-bottom-width: 3px;
		border-bottom-style: solid;
		border-bottom-color: var(--anchor-underline-color);
	}

	.header .secondary-ul li:hover {
		background: var(--menu-drop-down-list-background);
	}

/***************************************************************************
*** @media:DESKTOP *********************************************************
*** The first LI child of the .secondary-ul is the "return to main menu" ***
*** link on the drawer. Only display in mobile mode: ***********************
****************************************************************************/

	.header .secondary-ul li:first-child {
		display: none;
	}

/********************************************************
*** In desktop mode, the second LI will be the first ****
*** one that is visible. Add 1.5em top-padding to it: ***
*********************************************************/

	.header .secondary-ul li:nth-child(2) {
		padding-top: 1.5rem;
	}

/*************************************************
*** Add 1.5em bottom-padding to the last child ***
**************************************************/

	.header .secondary-ul li:last-child {
		padding-bottom: 1.5rem;
	}

}


@keyframes loading {
	from {
		width: 0;
	}
	25% {
		width: 25%;
	}
	50% {
		width: 50%;
	}
	75% {
		width: 75%;
	}
	to {
		left: 106%;
	}
}
