/* To 463px (next query overtakes 464px): */
@media all and (max-width: 464px) {
	.privacy-policy.main {
		margin: calc(1em + var(--header-height)) 1em 3em 1em;
	}
}
/* From 464px: */
@media all and (min-width: 464px) {
	.privacy-policy.main {
		margin: calc(1em + var(--header-height)) auto 3em auto;
		width: 432px;
	}
}

.privacy-policy a:link,
.privacy-policy a:visited {
	background: transparent;
}

.privacy-policy p {
	margin-top: 1em;
}

.privacy-policy h2 {
	font-size: 1.5em;
	margin: .25em 0 0 0;
	text-align: center;
}

/*
.privacy-policy h2 > p,
.privacy-policy p ~ p {
	margin: 0;
	padding: 0;
}
*/

/* Limit paragraph width to @62 characters (ch unit wouldn't work here): */
/* We have to chain .main to .privacy-policy to increase the specificity to make the styling work */
.privacy-policy.main p {
	max-width: 27em;
}
