/*
NB: :root variables declared in page *.css files cannot be revised by JavaScript.
Any CSS variable that will be edited by JavaScript MUST be declared in common.css.
Only :root variables declared in common.css can be revised by JavaScript.
*/

/* To 463px (next query overtakes 464px): */
@media all and (max-width: 464px) {
	.main.tomato-bsbsbsbs {
		margin: calc(1em + var(--header-height)) 1em 3em 1em;
	}
}
/* From 464px: */
@media all and (min-width: 464px) {
	.main.tomato-bsbsbsbs {
		margin: calc(1em + var(--header-height)) auto 3em auto;
		width: 432px;
	}
}

.tomato-bsbsbsbs .font-samples {
	text-align: center;
}