.site-map h1 {
	background-color: var(--menu-background-color);
	border-radius: 6px;
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	color: var(--body-text-color);
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5;
	margin: 0 30px 0;
	padding: 16px 0;
	text-align: center;
}

.site-map h2 {
	font-size: 1.25rem;
	font-style: italic;
	font-weight: 700;
	letter-spacing: .15rem;
	line-height: 1.5;
	padding-top: 1em;
	text-align: center;
	text-shadow: 0 0 1px #fff, 0 0 0 #adadad, 1px 1px 0 #adadad, 1px 1px 1px #adadad;
	word-spacing: .15rem;
}

.site-map h2 span {
	display: block;
	margin: 1em;
}

.site-map #top {
	background-color: #b1d1e8;
	color: #3b3b3b;
	font-size: 16px;
	padding-bottom: 40px;
	padding-top: 72px;
}

.site-map #top a:link, 
.site-map #top a:visited {
	color: #3b3b3b;
}

.site-map #cont {
	background: var(--menu-background-color);
	border-radius: 6px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	margin: -20px 30px 0 30px;
	padding: 20px;
	position: relative;
}

.site-map #footer {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	margin: 2em;
	padding: 10px;
	text-align: center;
}

.site-map a:link {
	background: transparent;
	color: var(--body-text-color);
}

.site-map a:visited {
	color: var(--body-text-color);
}

.site-map a:hover {
	color: #666;
}


/*
.site-map ul, 
.site-map ul li {
	list-style-position: inside;
	margin-left: 0;
	padding-left: 0;
}

.site-map li {
	margin: 0;
}

.site-map li ul {
	margin-left: 20px;
}
*/

.site-map .lhead {
	background: #ddd;
	border-radius: 6px;
	color: #3b3b3b;
	padding: 10px 32px;
	margin: 10px 0;
}

.site-map .lcount {
	padding: 0 10px;
}

.site-map .lpage {
	border-bottom: #ddd 1px solid;
	padding: 5px 5px 5px 32px;
}

.site-map .last-page {
	border: none;
}

/*
@media all and (max-width: 759px) {

	.site-map ul,
	.site-map ul ~ ul,
	.site-map li, 
	.site-map li ~ li {
		margin: 0;
		padding: 0;
		list-style-position: inside;
	}

	.site-map .lpage {
		border-bottom: #ddd 1px solid;
		padding: 10px 5px 10px 32px;
	}
}

*/