/*************
*** Footer ***
**************/

.footer {
/*	background-color: var(--footer-background-color); */
	background-image: linear-gradient(#545454, #080808 50%);
	color: var(--footer-text-color);
	flex-shrink: 0;
	padding: 1em;
	text-align: center;
/*
Curiously, unless we set a high z-index on the footer, right-clicking on
one of its elements opens the loading mask DIV in the DOM explorer instead
of the targeted element.
*/
	z-index: 100;
	opacity: var(--footer-opacity);


}

/*
qwer:htaccess
2023-10-29:
In case MAIN element is absent
*/
.header + .footer {
	margin-top: calc(100vh - var(--footer-height));
}

/*
@media all and (max-width: 350px) {
	.footer {
		min-height: 207px;
	}
}
@media all and (min-width: 350px) {
	.footer {
		min-height: 183px;
	}
}
@media all and (min-width: 654px) {
	.footer {
		min-height: 159px;
	}
}
*/

/*******************************************************************************************************************
*** NB: coloring a base64 icon requires a filter; ******************************************************************
*** see: hex2filter ********************************************************************************
*** see: https://stackoverflow.com/questions/12194115/is-there-an-animatable-transition-property-for-css-filters ***
*******************************************************************************************************************/

/*******************
*** social icons ***
********************/

.footer .social-icons {
	display: inline-block; 
	list-style-type: none;
	overflow: hidden;
	padding: .75em 0 .25em 0;
	text-align: left;
}

.footer .social-icons li {
	float: left;
/* to allow bottom of tab-outline not to be cut off (2022-07-23): */
	margin-bottom: .2em;
}

.footer .social-icons .social-icon-anchor {
	filter: var(--filter-footer-anchor-hover);
	opacity: .75;
	padding: .25em 1em;
	text-decoration: none;
	transition: opacity 500ms ease;
}

.footer .social-icons .social-icon-anchor:hover {
	opacity: 1;
}

.footer .social-icons .social-icon-anchor:active {
	opacity: 1;
}

/*****************
*** site links ***
******************/

.footer .site-links {
	padding: .5em .5em .25em .5em;
}

/*
See: removeSeparatorAtEndOfLine() in footerEdits() in common.mjs
*/

/* 
width of ::after character ...
must be measured by selecting character in DevTools
use it in margin-left below to ensure the block is truly centered.
*/

/*
&nbsp; -> \00a0
&emsp; -> \2003
&ensp; -> \2002
en quad --> \2000

See: https://symbl.cc/en/2002/

content: '\00a0|\00a0'; '\a0|\a0'; 

USE WIDTH OF THIS CHARACTER IN margin-left RULE BELOW!
*/

.footer .site-links ul {
	text-align: center;
	margin-left: 20px;
	display: inline-block;
	font-size: 0; /* To eliminate white-space characters in between LI elements */
}

.footer .site-links li {
	font-size: 1rem;
}

@media screen and (max-width: 464px) {
	.footer .site-links li.larger-screens-display-none {
		display: inherit;
	}
}

@media screen and (min-width: 464px) {
	.footer .site-links li.larger-screens-display-none {
		display: none;
	}
}

.footer .site-links li:not(.larger-screens-display-none) {
	display: inherit;
}

.footer .site-links li::after {
	content: '\2000|\2000';
	opacity: .75;
}

.footer .site-links li.last-in-line::after {
	visibility: hidden;
}


.footer .site-links a {
	color: var(--footer-anchor);
	filter: brightness(200%) saturate(200%);
	opacity: .75;
	text-decoration: none;
	transition: opacity 500ms ease;
	white-space: nowrap;
}

.footer .site-links a:hover {
	opacity: 1;
}

.footer .site-links a::after:hover {
	opacity: .75;
}

/*****************************************************************************
*** SEE: hex2filter ******************************************
*** NB: You *must* prepend "brightness(0) saturate(100%)" to the result to ***
*** start from black. ********************************************************
******************************************************************************/

/****************
*** copyright ***
****************/

.footer .copyright {
	padding: .25em .5em 0 .5em;
}

.footer .copyright-notice {
	display: inline-block;
	font-size: .8rem;
}

/*******************************
*** sitemap & privacy policy ***
********************************/

/* To color the pipe (|) in between the anchors */
.footer .internal-links:not(a) {
	color: var(--footer-anchor);
}

.footer a.site-map,
.footer a.privacy-policy {
	color: var(--footer-anchor);
	filter: brightness(200%) saturate(200%);
	opacity: .75;
	text-decoration: none;
	transition: opacity 500ms ease;
}

.footer a.site-map:hover,
.footer a.privacy-policy:hover {
	opacity: 1;
}


/*
KEEP IN CASE WE WANT TO RESTORE INSTAGRAM IMAGES IN THE FOOTER:

.footer a.instagram-anchor {
	color: var(--footer-anchor);
	text-decoration: none;
	filter: brightness(100%) saturate(100%);
	transition: filter 500ms;
}

.footer a.instagram-anchor:hover {
	filter: brightness(200%) saturate(200%);
}

.footer a.instagram-anchor:active {
	color: white;
}

.footer .instagram-photo {
	color: white;
	box-shadow: 5px 5px 5px var(--menu-text-hover-background);
	max-width: 36vw;
	max-height: 36vw;
	margin: 4vw;
}

.footer .instagram-feed {
	display: block;
}

.footer .instagram-feed .image-raiser {
	transition: transform 200ms linear;
	display: inline-block;
}

.footer .instagram-feed .image-raiser:hover {
	transform: scale(1.1);
}
*/

