# %{ENV:LOCALHOST}
SetEnvIf Request_URI "^.*" LOCALHOST=https://localhost/shell
# %{ENV:LIVEHOST}
SetEnvIf Request_URI "^.*" LIVEHOST=https://shell.com

SetEnvIf Host localhost SCHEME=https://
SetEnvIf Host localhost HOST=localhost
SetEnvIf Host localhost BASE_PATH=/shell/

SetEnvIf Host !localhost SCHEME=https://
SetEnvIf Host !localhost HOST=shell.com
SetEnvIf Host !localhost BASE_PATH=/

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^ - [E=BASE_URL:%{ENV:SCHEME}%{ENV:HOST}%{ENV:BASE_PATH}]
</IfModule>

<If "req('Host') = 'localhost'">
	<IfModule mod_headers.c>
		Header set Cache-Control "no-cache, no-store, must-revalidate"
		Header set Pragma "no-cache"
		Header set Expires 0
	</IfModule> 
</If>

#SetEnvIf Request_URI "^.*" ABSOLUTE_ROOT=%{DOCUMENT_ROOT}%{ENV:BASE_PATH}
RewriteRule ^ - [E=ABSOLUTE_ROOT:%{DOCUMENT_ROOT}%{ENV:BASE_PATH}]